<h2>
    Países
</h2>
<hr>
<ul class="list-group">
    <!-- <li class="list-group-item" [routerLink]="'home'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home Page
    </li>
    <li class="list-group-item" [routerLink]="'about'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        About us
    </li>
    <li class="list-group-item" [routerLink]="'contact'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Contact us
    </li> -->
    <li class="list-group-item" [routerLink]="'countries/by-capital'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Por Capital
    </li>
    <li class="list-group-item" [routerLink]="'countries/by-country'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Por País
    </li>
    <li class="list-group-item" [routerLink]="'countries/by-region'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Por Región
    </li>
</ul>

<!-- Funciona para poder ver que ruta está activa en cuanto a un menú -->
<!-- routerLinkActive="active" -->

<!-- Redirecciona a la ruta indicada, además que esto es proporcionado por el RouterModule -->
<!-- [routerLink]="'about'" -->

<!-- Esto le dice al Router que tiene que ser la ruta EXACTA tal y como se ha proporcionado en el router o router link -->
<!-- [routerLinkActiveOptions]="{exact: true}" -->