<div class="row">
    <div class="col">
        <!-- <input type="text" [placeholder]="placeholder" class="form-control" #searchInput (keyup.enter)="emitValue(searchInput.value)"> -->
        <input type="text" [placeholder]="placeholder" class="form-control" #searchInput (keyup)="onKeyPress(searchInput.value)" [value]="initialValue">
    </div>
</div>