<ng-template #loading>
    <div class="alert alert-info text-center">
        Espere por favor
    </div>
</ng-template>


<div *ngIf="country; else loading">
    <div class="row">
        <div class="col-12">
            <h2>País: <strong>{{country?.name?.common??''}}</strong></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h3>Bandera</h3>
        <img [src]="country?.flags?.svg" [alt]="country?.name?.common">
    </div>
    <div class="col">
        <ul class="list-group"> 
            <li class="list-group-item">
                <strong>Poblacion: {{country?.population|number}}</strong>
            </li>
            <li class="list-group-item">
                <strong>Código: {{country?.cca3}}</strong>
            </li>
        </ul>
    </div>
</div>