<h2>Por Región</h2>
<hr>
<div class="row">
    <!-- <shared-searchbar placeholder="Busqueda por región" (onDebounce)="searchByRegion($event)" ></shared-searchbar> -->

    <div class="col text-center">
      <button *ngFor="let i of regiones" class="btn mx-2" [ngClass]="{'btn-outline-primary': selectRegion===i}" (click)="searchByRegion(i)">
        {{i}}
      </button>
    </div>
  </div>
  <hr>
<div class="row">
    <div class="col">
       <hr>
       <countries-table [countries]="countries" [mensaje]="'regiones'"> </countries-table>
    </div>
</div>