<h2>Por País</h2>
<hr>
<div class="row">
    <shared-searchbar placeholder="Busqueda por país" (onDebounce)="searchByCountry($event)" [initialValue]="initialValue"></shared-searchbar>
  </div>
  <hr>
<div class="row">
    <div class="col">
       <hr>
       <countries-table [countries]="countries" [mensaje]="'países'"> </countries-table>
    </div>
</div>