<div class="container">
  <div class="row mt-4">
    <div class="col-4">
      <shared-sidebar></shared-sidebar>
    </div>
    <div class="col">
      <!-- <div class="row">
        <shared-searchbar></shared-searchbar>
      </div>
      <div class="row"> -->
        <router-outlet></router-outlet>
      <!-- </div> -->
    </div>
  </div>
</div>