.spinner-container{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: black;
    color: white;
    display: flex;
    padding: 5px 10px;
    position: fixed;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 2);
}

span{
    margin-left: 5px;
}