<h2>Por Capital</h2>
<hr>
<div class="row">
    <!-- <shared-searchbar placeholder="Busqueda por capital" (onValue)="searchByCapital($event)" ></shared-searchbar> -->
    <shared-searchbar placeholder="Busqueda por capital" (onDebounce)="searchByCapital($event)" [initialValue]="initialValue"></shared-searchbar>
  </div>
  
  <hr>
<div class="row">
    <div class="col">
       <hr>
       <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
       <countries-table [countries]="countries" [mensaje]="'capitales'"> </countries-table>
    </div>
</div>